body {
    background-image: url("../resources/dndbackground.jpg");
}

.parent {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    /* flex-direction: row; */
    gap: 1em;
    width: 60%;
    margin: auto;
    background-color:rgba(241, 241, 241, 0.8);
    border-radius: 4px;
}
  
.child {
    background-color: #c0c0c0;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    border: 1px solid rgb(99, 99, 99);
    border-radius: 12px;
}

input[type=number] {
    width: 18%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}