#rcorners {
  border-radius: 25px;
  border: 2px solid #00d1c3;
  padding: 20px;
  width: auto;
  height: auto;
  color: white;
  background-color:#161717;
  opacity: 0.6;
}

.flex-container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.flex-container > div {
   margin: 10px;
   text-align: center;
   font-size: 30px;
   flex-grow: 1;;
   width: auto;
}

@font-face {
   font-family: Draconis;
   src: url(../resources/fonts/draconis/Draconis.otf);
}

* {
   font-family: Draconis;
}

